alias ta="tmux a"
alias vim="nvim"

# GitHub aliases
alias gco='git checkout '
alias ga='git add '
alias gc='git commit '
alias gp='git pull '
alias gb='git branch '
alias gs='git status'
alias g='git'

alias ubuntu-droplet='mosh yurko@164.92.129.191 --server=/home/linuxbrew/.linuxbrew/bin/mosh-server '
